#myBtn {
    display: flex;
    position: relative;
    width: 15%;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #F8AEF5;
    color: white;
    margin: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    text-align:center;display:block;
    text-decoration: none;
    margin-left: 800px;
  }
  
  #myBtn:hover {
    background-color: #e08edf;
    text-align: center;
  }

  #myBtn:link {
    background-color: #000000;
    text-align: center;
    text-decoration: underline;
  }

  #myBtn:active {
    background-color: #000000;
    text-align: center;
    text-decoration: none
  }

  #myBtn:visited {
    background-color: #000000;
    text-align: center;
    text-decoration: none;
  }

  #mySecBtn {
    display: flex;
    position: relative;
    width: 15%;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #B5F4E9;
    color: white;
    margin: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    text-align:center;display:block;
    text-decoration: none;
    margin-left: 800px;
  }
  
  #mySecBtn:hover {
    background-color: #89f3e1;
    text-align: center;
  }

  #mySecBtn:link {
    background-color: #000000;
    text-align: center;
    text-decoration: underline;
  }

  #mySecBtn:active {
    background-color: #000000;
    text-align: center;
    text-decoration: none
  }

  #mySecBtn:visited {
    background-color: #000000;
    text-align: center;
    text-decoration: none;
  }

  #myThiBtn {
    display: flex;
    position: relative;
    width: 15%;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #B0F697;
    color: white;
    margin: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    text-align:center;display:block;
    text-decoration: none;
    margin-left: 800px;
  }
  
  #myThiBtn:hover {
    background-color: #91f66c;
    text-align: center;
  }

  #myThiBtn:link {
    background-color: #000000;
    text-align: center;
    text-decoration: underline;
  }

  #myThiBtn:active {
    background-color: #000000;
    text-align: center;
    text-decoration: none
  }

  #myThiBtn:visited {
    background-color: #000000;
    text-align: center;
    text-decoration: none;
  }

  #myForBtn {
    display: flex;
    position: relative;
    width: 15%;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #F6E197;
    color: white;
    margin: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    text-align:center;display:block;
    text-decoration: none;
    margin-left: 800px;
  }
  
  #myForBtn:hover {
    background-color: #f3d568;
    text-align: center;
  }

  #myForBtn:link {
    background-color: #000000;
    text-align: center;
    text-decoration: underline;
  }

  #myForBtn:active {
    background-color: #000000;
    text-align: center;
    text-decoration: none
  }

  #myForBtn:visited {
    background-color: #000000;
    text-align: center;
    text-decoration: none;
  }

  .square {
    height: 100px;
    width: 100%;
    background-color: #9180FF;
    margin-top: -10px;
    margin-bottom: 100px;
  }

  .square2 {
    height: 100px;
    width: 100%;
    background-color: #FF8080;
    margin-top: 100px;
    margin-bottom: 100px;
  }